{% extends 'dashboard.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        {% include 'sideBar.html'%}
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Categorias editar</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">
                        Formulário de categoria editar
                    </li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post">
                            <div style="width: 70%;" class="mb-2">
                                <label for="titulo" class="form-label">Título<sup>*</sup></label>
                                {% for categoria in categorias %}
                                <input type="text" value="{{categoria.titulo}}" class="form-control" name="titulo"
                                    id="titulo">
                                {%endfor%}

                            </div>
                            <label for="textarea">Texto</label>
                            <div style="width: 70%;" class="form-floating">
                                {% for categoria in categorias %}
                                <textarea name="textarea" class="form-control"
                                    id="textarea">{{categoria.texto}}</textarea>
                                {%endfor%}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="id">Categoria identificador</label>
                                            {%for categoria in categorias%}
                                            <input style="width: 50%;" type="number" value="{{categoria.id}}" class="form-control" name="id"
                                            id="id">
                                            
                                            {%endfor%}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="select_status">Status</label>
                                        
                                            {%for categoria in categorias%}
                                            <input  style="width: 35%;" type="number" value="{{categoria.status}}" class="form-control" name="select_status"
                                            id="select_status">
                                            
                                            {%endfor%}

                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input type="submit" class="btn btn-primary" value="Atualizar">
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}