{% extends 'dashboard.html'%}
{%block conteudo%}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        {% include 'sideBar.html'%}
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Editando postagens</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">
                        Formulário de edição
                    </li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="{{url('admin/categorias/cadastrar')}}" method="post">
                            <div style="width: 70%;" class="mb-2">
                                <label for="titulo" class="form-label">Título<sup>*</sup></label>
                                {%for post in posts%}

                                <input type="text" class="form-control" name="titulo" id="titulo"
                                    value="{{post.titulo}}">
                                {%endfor%}

                            </div>
                            <label for="textarea">Texto</label>
                            <div style="width: 70%;" class="form-floating">
                                {%for post in posts%}

                                <textarea name="textarea" class="form-control" id="textarea">{{post.texto}}</textarea>
                                {%endfor%}

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="categoria_id">Categoria</label>

                                        <select style="width: 50%;" name="categoria_id" class="mt-2 form-select"
                                            aria-label="Default select example">

                                            {%for categoria in categorias%}
                                            <option value="{{categoria.id}}">{{categoria.titulo}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="select_status">Status</label>
                                        <select style="width: 35%;" name="select_status" class="mt-2 form-select"
                                            aria-label="Default select example">
                                            <option value="1" {% if categoria.status=='1' %}selected{%endif%}>Ativo
                                            </option>
                                            <option value="0" {% if categoria.status=='0' %}selected{%endif%}>inativo
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input type="submit" class="btn btn-primary" value="Editar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
</div>
{{success}}
{%endblock%}