{% extends 'dashboard.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        {% include 'sideBar.html'%}
        <main>
            <div class="container-fluid px-4 p-2">
                <h1 class="mt-4">Postagens</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">
                        Formulário de postagens
                    </li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post">
                            <label for="id" class="form-label">Identificador</label>
                            <div style="width: 70%;" class="mb-2">
                                {% if posts[0] %}
                                <input name="id"  type="number" for="id" value="{{posts[0].id}}" class="form-control">
                                {%endif%}

                            </div>

                            <div style="width: 70%;" class="mb-2">
                                <label for="titulo" class="form-label ">Título<sup>*</sup></label>
                                {% if posts[0] %}

                                <input value="{{posts[0].titulo}}" type="text" class="form-control" name="titulo"
                                    id="titulo">
                                {%endif%}
                            </div>
                            <label for="textarea">Texto</label>
                            <div style="width: 70%;" class="form-floating">
                                {% if posts[0] %}

                                <textarea name="textarea" class="form-control"
                                    id="textarea">{{posts[0].texto}}</textarea>
                                {%endif%}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="categoria_id">Categoria identificador</label>
                                    </div>
                                        {% if posts[0].categoria_id %}

                                        <input style="width: 50%;" type="text" value="{{posts[0].categoria_id}}"
                                            class="form-control" name="categoria_id" id="categoria_id">
                                        {%endif%}
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="select_status">Status</label>
                                        {% if posts[0] %}
                                        <input style="width: 35%;" type="number" value="{{posts[0].status}}"
                                            class="form-control" name="select_status" id="select_status">

                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input type="submit" class="{{btn_outline_info}}" value="Atualizar">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}