{% extends 'dashboard.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        {% include 'sideBar.html'%}
        <main>
            <div class="container-fluid px-4 p-2">
                <a href="{{url('admin/posts/register')}}" class="{{btn_outline_info}}">Criar postagem</a>
                <h1 class="mt-4">Postagens</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Lista de postagens</li>
                </ol>
                {{flash()}}
                <div class="card mb-4">
                    
                    <div class="card-header {{alert_warning}}">
                        <i class="fas fa-table me-1"></i>
                        Tabela de Postagens
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Categoria</th>
                                    <th>Título</th>
                                    <th>Texto</th>
                                    <th>Status</th>
                                    <th>Editar</th>
                                    <th>Deletar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {%for post in posts%}
                                    <td>
                                        {%for categoria in categorias%}
                                        {%if post.categoria_id == categoria.id%}
                                        <div class="container btn">
                                            {{categoria.titulo}}
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                    </td>
                                    <td>
                                        <div class="container btn">
                                            {{post.titulo}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="container btn">
                                            {{resumeTexto(''~post.texto, 10)}}
                                        </div>
                                    </td>

                                    <td>
                                        {%if post.status == 1 %}
                                        <div class="container  btn">
                                            <i style="color: rgb(0, 179, 119); " class="fa-solid fa-check">
                                            </i>
                                        </div>
                                        {%else%}
                                        <div class="container  btn">
                                            <i style="color: rgb(179, 0, 0); " class="fa-solid fa-x">
                                            </i>
                                        </div>
                                        {%endif%}
                                    </td>
                                    <td>
                                        <a href="{{url('admin/posts/'~post.id)}}">
                                            <div class="container  btn">
                                                <i style="color: rgb(95, 112, 174); " class="fa-solid fa-pen">
                                                </i>
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{url('admin/posts/delete/'~post.id)}}">
                                            <div class="container  btn">
                                                <i style="color: rgb(158, 84, 84); " class="fa-solid fa-trash">
                                                </i>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}