{% extends 'base.html'%}
{%block dashboard%}
{% include 'menu.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    {% include 'sideBar.html'%}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Postagem</h1>
                Olá, {{user().nome}} voce está em postagem. {{saudacao()}}

                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <div class="row">
                            <div class="h-100 card {{alert_dark}} text-black">
                                <div class="card-body">
                                    <span>Postagem feita {{createdAt(posts_id)}}</span>
                                    <h5 class="{{alert_light}}  card-title">{{posts_titulo}}</h5>
                                    <p class="{{alert_light}} card-text">{{posts_texto}}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}
{%endblock%}