{%extends 'base.html'%}

{%block conteudo%}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="row ">
                {%for post in posts%}
                <div class="col-md-6 mb-4">
                    <div class="card h-100 ">
                        <a style="text-decoration: none; margin-bottom: 0;" class="{{alert_warning}}"
                            href="{{url('post/'~post.id)}}">
                            <div class="card-body ">
                                <h5 class="card-title">{{post.titulo}}</h5>
                                <p class="card-text">
                                    {{resumeTexto(''~post.texto,30)}}
                                    u </p>
                            </div>
                        </a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        {% include 'sidebar.html'%}
    </div>
</div>
</div>
{%endblock%}