<nav style="width: 100%;" class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <div style="margin-bottom:0; color: rgb(234, 234, 234); padding: 10px; border-radius: 6px; border: 1px solid #7c7c7c;" class="{{success}}">
            <h3 class="{{success}}" style=" 
             margin-bottom:0;
            color: rgb(234, 234, 234);
            padding: 10px; 
            border-radius: 6px; 
            border: 1px solid #7c7c7c;
                   
                    ">
                {{contaTempo('2023-07-20 10:42:00')}}
            </h3>
        </div>
    </div>
</nav>