{%extends 'base.html'%}

{%block conteudo%}
<div class="container">
    <div style="margin-top: 50px;" class="container">
        <h3>{{titulo}}</h3>
        <form action="" method="post">
            <div style="width: 40%;" class="mb-2">
                <label for="nome" class="form-label">Nome <sup>*</sup></label>
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite seu nome" required>
            </div>
            <div style="width: 40%;" class="mb-2">
                <label for="email" class="form-label">Email <sup>*</sup></label>
                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com"
                    required>
            </div>
            <div style="width: 40%;" class="mb-2">
                <label for="passw" class="form-label">Senha <sup>*</sup></label>
                <input type="password" class="form-control" name="passw" id="passw" placeholder="**********" required>
            </div>
            <input type="submit" class="{{success}}" value="Enviar">
        </form>
    </div>
</div>
{%endblock%}
