<nav style="width: 100%;" class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container mt-3">
        <a href="{{urlIndex()}}" style="margin-bottom: 0;" class="navbar-brand {{cssNavHeader}}">
            <h1 style="margin-bottom: 0;">Ler<sup>.Livra</h1></sup>
        </a>
        <div class="dropdown show">
            <a href="#" class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <ul class="list-group list-group-flush">
                    {% for categoria in categorias%}
                    <a href="{{url('categoria/'~categoria.id)}}"
                        class="list-group-item list-group-item-action">{{categoria.titulo}}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <form action="{{url('formCadSent')}}" method="post"
            style="display: flex; margin-right: 25px; flex-direction: column; justify-content: space-between;">
            <input name="busca" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div style="display: flex; flex-direction: row; justify-content: space-between; ">
            <a style="margin-right: 5px;""  href=" {{urlFormCad()}}" id="cad"
                class="{{cssNavHeaderButton}}">
                Cadastre-se
            </a>
            <a href="{{urlFormLog()}}" id="log" class="{{cssNavHeaderButton}}">
                Login
            </a>
        </div>
    </div>
</nav>