{%extends 'base.html'%}

{%block conteudo%}
<div class="container">
    <div style="margin-top: 50px;" class="container">
        <div style="margin-top: 50px;" class="container">
            <div style="width: 40%;" class="mb-2">
                <h3>{{titulo}}</h3>
                <p>{{subtitulo}}</p>
                <p>{{echo2}}</p>
                {%for post in posts%}
                <div class="card">                    
                    <div class="card-body">
                      <h5 class="card-title">{{post.titulo}}</h5>
                      <p class="card-text">{{post.texto}}</p>
                    </div>
                  </div>
                <h3></h3>
                <p></p>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{%endblock%}