{%extends 'base.html'%}

{%block conteudo%}
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="card mb-4 {{alert_light}} container  ">
                <div class="{{alert_dark}}">
                    <h1>{{post.titulo}}</h1>
                </div>
                <div class="{{alert_light}}">
                    <p>{{post.texto}}</p>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            {% include 'sidebar.html'%}
        </div>
    </div>
</div>

{%endblock%}