{% extends 'dashboard.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        {% include 'sideBar.html'%}
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Postagens</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">
                        Formulário de postagens
                    </li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post">
                            <label for="id" class="form-label">Identificador</label>
                            <div style="width: 70%;" class="mb-2">
                                
                                {%for post in posts%}
                                <input name="id" for="id" value="{{post.id}}" class="form-label" >
                                {%endfor%}
                            </div>

                            <div style="width: 70%;" class="mb-2">
                                <label for="titulo" class="form-label ">Título<sup>*</sup></label>
                                {%for post in posts%}
                                <input value="{{post.titulo}}" type="text" class="form-control" name="titulo"
                                    id="titulo">
                                {%endfor%}
                            </div>
                            <label for="textarea">Texto</label>
                            <div style="width: 70%;" class="form-floating">
                                {%for post in posts%}
                                <textarea name="textarea" class="form-control" id="textarea">{{post.texto}}</textarea>
                                {%endfor%}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="categoria_id">Categoria identificador</label>
                                        {%for post in posts%}
                                        <input style="width: 50%;" type="number" value="{{post.categoria_id}}"
                                            class="form-control" name="categoria_id" id="categoria_id">

                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="select_status">Status</label>

                                        {%for post in posts%}
                                        <input style="width: 35%;" type="number" value="{{post.status}}"
                                            class="form-control" name="select_status" id="select_status">

                                        {%endfor%}

                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input type="submit" class="btn btn-primary" value="Atualizar">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}