{% extends 'dashboard.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        {% include 'sideBar.html'%}
        <main>
            <div class="container-fluid px-4 py-2">
                <a href="{{url('admin/categories/register')}}" class=" btn btn-primary">Cadastrar</a>
                <h1 class="mt-4">Categorias</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Lista de categorias</li>
                </ol>
                {{flash()}}

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Tabela de dados - Categorias
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Texto</th>
                                    <th>Status</th>
                                    <th>Editar categoria</th>
                                    <th>Deletar</th>

                                </tr>
                            </thead>
                            <tbody>
                                {%for categoria in categorias%}
                                <tr>
                                    <td>{{categoria.titulo}}</td>
                                    <td>{{resumeTexto(''~categoria.texto, 50)}}</td>
                                    <td>
                                        {%if categoria.status == 1 %}
                                        <div class="container">
                                            <i style="color: rgb(0, 179, 119); " class="fa-solid fa-check">
                                            </i>
                                        </div>
                                        {%else%}
                                        <div class="container">
                                            <i style="color: rgb(179, 0, 0); " class="fa-solid fa-x">
                                            </i>
                                        </div>
                                        {%endif%}
                                    </td>

                                    <td>
                                        <a href="{{url('admin/categories/'~categoria.id)}}"  class="btn">
                                           Editar
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{url('admin/categories/deletar/'~categoria.id)}}"  class="btn" >Deletar</a>
                                    </td>

                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}