{% extends 'base.html'%}
{%block dashboard%}
{% include 'menu.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    {% include 'sideBar.html'%}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="row">
                    <h1 class="mt-1 {{alert_dark}}">Postagem</h1>
                    <div class="col-lg-9 col-md-12">
                        <div class="row">
                            <div class="h-100 card {{alert_dark}} text-black">
                                <div class="card-body">
                                    <a  href="../../../../uploads/images/{{posts_thumb}}"target="_blank">
                                        <img class="my-3 "  style="border-radius: 8px ; width: 50%; height: 150px;" src="../../../../uploads/images/thumbs/{{posts_thumb}}"
                                            alt="{{posts_titulo}}">
                                    </a>
                                    <h2 class="{{alert_light}}  card-title">{{posts_titulo}}</h2>
                                    <p class="{{alert_light}} card-text">{{posts_texto}}</p>
                                    <div class="{{alert_light}} card-text"
                                        style="display: flex; flex-direction: row; justify-content: space-between;">
                                        <span>Categorizado como {{categoria_titulo}}</span>
                                        <span>Postado em {{date}} ás {{hour}}</span>
                                    </div>
                                    <a href="{{url('/')}}" class="{{btn_outline_info}}">Voltar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>
            </div>
        </main>

        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}
{%endblock%}