{% extends 'base.html'%}
{%block dashboard%}
{% include 'menu.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        {% include 'sideBar.html'%}
        <div class="container">
            <div style="margin: 95px 0;" class="container">
                <h1 class="{{alert_primary}}">Login</h1>
                {{flash()}}
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post">
                            <div style="width: 60%;" class="mb-2">
                                <label for="email" class="form-label">Email <sup>*</sup></label>
                                <input name="email" id="email" type="email" class="form-control"
                                    placeholder="name@example.com">
                            </div>
                            <div style="width: 60%;" class="mb-2">
                                <label for="senha" class="form-label">Senha <sup>*</sup></label>
                                <input name="senha" id="senha" type="password" class="form-control"
                                    placeholder="************">
                            </div>
                            <input type="submit" class="{{btn_outline_info}}" value="Login">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}
{%endblock%}