{% extends 'base.html'%}
{%block dashboard%}
{% include 'menu.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    {% include 'sideBar.html'%}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                Olá {{user().nome}}, voce está no dashboard. {{saudacao()}}
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <div class="row">

                            {% if posts().id %}


                            <div class="card mb-4 {{alert_light}} container  ">
                                <div class="{{alert_dark}}">
                                    <h1>{{posts().titulo}}dasdas</h1>
                                </div>
                                <div class="{{alert_light}}">
                                    <p>{{posts().texto}}</p>
                                </div>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}
{%endblock%}