{% extends 'dashboard.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        {% include 'sideBar.html'%}
        <main>
            <div class="container-fluid px-4 p-2">
                <h1 class="mt-1 {{alert_primary}}">Usuários</h1>
                
                {{flash()}}
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post">
                            <label for="id" class="form-label">Identificador</label>
                            <div style="width: 70%;" class="mb-2">
                                {% if user %}                                
                                <select style="width: 35%;" name="id" id="id">
                                    <option value="{{user.id}}">{{user.id}}</option>
                                </select>
                                {%endif%}
                            </div>
                            <div style="width: 70%;" class="mb-2">
                                <label for="nome" class="form-label ">Nome<sup>*</sup></label>
                                {% if user%}
                                <input value="{{user.nome}}" type="text" class="form-control" name="nome" id="nome">
                                {%endif%}
                            </div>
                            <label for="email">Email</label>
                            <div style="width: 70%;" class="form-floating">
                                {% if user %}
                                <input type="email" name="email" class="form-control" id="email" value="{{user.email}}">
                                {%endif%}
                            </div>
                            <label for="senha">Senha</label>
                            <div style="width: 70%;" class="form-floating">
                                <input type="text" name="senha" class="form-control" id="senha" >
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="level" class="form-label">Nível <sup>*</sup></label>
                                    <div class="mb-3">
                                        {% if user.level %}
                                        <select class="{{alert_primary}} p-1"  style="width: 35%;" name="level" id="level">
                                            <option value="1">Usuaŕio</option>
                                            <option value="2">Funcionário</option>
                                            <option value="3">Administrador</option>
                                        </select>
                                        {%endif%}
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <label for="status">Status</label>
                                    <div class="mb-3">
                                        {% if user.level %}
                                        <select class="{{alert_primary}} p-1" style="width: 35%;" name="status" id="status">
                                            <option value="1">Ativo</option>
                                            <option value="0">Inativo</option>
                                        </select>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input type="submit" class="{{btn_outline_info}}" value="Atualizar">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}