{% extends 'base.html'%}
{%block dashboard%}
{% include 'menu.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    {% include 'sideBar.html'%}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid py-2">
                <div class="row">
                    <div class="col-lg-8 col-md-12 pl-2">
                        <div class="row">
                            <div class="container-fluid">
                                <div class="card mb-4">
                                    <div class="card-header {{alert_primary}}">
                                        <i class="fas fa-table me-1"></i>
                                        postagens
                                    </div>
                                    <div class="card-body mb-0 row px-3 py-1">
                                        {% for post in posts %}
                                        <a href="{{url('admin/post/'~post.id)}}" style="text-decoration: none;"
                                            class="col-lg-6 mb-1">
                                            <div class="h-100 card text-black">
                                                <div class="{{alert_dark}} mb-0">
                                                    <h2 class="card-title">{{post.titulo}}</h2>
                                                    <p class="card-text">{{resumeTexto(''~post.texto,50)}}</p>
                                                    <div class=" {{alert_light}}"
                                                        style="display: flex; flex-direction: row; justify-content: space-between;">
                                                        {% for categoria in categorias %}
                                                        {% if post.categoria_id == categoria.id %}
                                                        <span>Categoria {{categoria.titulo}}</span>
                                                        {%endif%}
                                                        {%endfor%}
                                                        <span>{{contaTempo(post.created_at)}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="card mb-4">
                                    <div class="card-header {{alert_info}}">
                                        <i class="fas fa-table me-1"></i>
                                        Usuários
                                    </div>
                                    
                                    <div class="card-body mb-0 row px-3 py-1 ">
                                        {% for user in users %}
                                        <a href="{{url('admin/user/'~user.id)}}" class="col-lg-6 mb-1" 
                                            style="text-decoration: none;">
                                            <div class="card-body {{alert_dark}}">
                                                <h5 class="card-title">{{user.nome}}</h5>
                                                <p class="card-text">
                                                    {{resumeTexto(''~user.email, 10)}}
                                                </p>
                                                <span>{{contaTempo(user.created_at)}}</span>
                                            </div>
                                        </a>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="row">
                            <div class="container-fluid">
                                <div class="card mb-4">
                                    <div class="card-header {{alert_warning}}">
                                        <i class="fas fa-table me-1"></i>
                                        Categorias
                                    </div>
                                    
                                    <div class="col px-3 py-0">
                                        {% for categoria in categorias %}
                                        <a href="{{url('admin/category/'~categoria.id)}}" style="text-decoration: none;"
                                            class="col-md-8 mb-4 ">
                                            <div class="card-body {{alert_dark}}">
                                                <h5 class="card-title">{{categoria.titulo}}</h5>
                                                <p class="card-text">
                                                    {{resumeTexto(''~categoria.texto,10)}}
                                                </p>
                                                <span>{{contaTempo(categoria.created_at)}}</span>
                                            </div>
                                        </a>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}
{%endblock%}