{% extends 'base.html'%}
{%block dashboard%}
{% include 'menu.html'%}
{%block conteudo%}
<div id="layoutSidenav">
    {% include 'sideBar.html'%}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                Olá {{nome}}, voce está no dashboard. {{saudacao()}}
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">{{flash()}} </li>
                </ol>
                   
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</div>
{%endblock%}
{%endblock%}